<div class="jumbotron center">
     <h1>Real Experts.</h1>
  <p>Get your project off the ground with the real experts.<br>
  </p>
 <form class="col-lg-12">
            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input id="search" type="text" name="q" class="center-block form-control input-lg" title="Search for the Best Engineers, Architects & Surveyors" placeholder="Search for the Best Engineers, Architects & Surveyors">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">GO!</button></span>

            </div>
            <br>
          </form>

  
          <br/>
          <br/>

          <p><%= link_to 'Create Profile', new_profile_path, class: "btn btn-success btn-lg" %></p>    
</div>



<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Email</th>
      <th>Company</th>
      <th>Location</th>
      <th>Telephone</th>
      <th>Website</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.title %></td>
        <td><%= profile.email %></td>
        <td><%= profile.company %></td>
        <td><%= profile.location %></td>
        <td><%= profile.telephone %></td>
        <td><%= profile.website %></td>
        <td><%= profile.description %></td>
        <td><%= link_to 'Show', profile, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
