

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @profile.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-link" %> |
<%= link_to 'Back', profiles_path, class: "btn btn-link" %>
